.Weather {
  max-width: 700px;
  margin: 0 auto;
}

.location p {
  font-size: 2rem;
  margin-bottom: 0;
}

p {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1;
}

.temp p {
  font-size: 5rem;
  font-weight: 500;
  line-height: 0.9;
  margin: 0.4rem 0;
}

.temp .unit {
  font-size: 1.6rem;
  position: relative;
  top: -38px;
  font-weight: 400;
}

.temp .unit a {
  /* font-size: 1.5rem; */
  text-decoration: none;
  /* color: rgba(255, 255, 255, 0.75); */
  color: #fff;
  text-shadow: none;
}

.Weather .search {
  text-align: center;
  padding: 1 rem;
  position: relative;
  top: 30%;
}

.Weather input {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border-radius: 15px;
  background-color: rgba(111, 111, 111, 0.142);
  color: rgba(255, 255, 255, 0.675);
  border: none;
}

.Weather input:focus {
  outline: none;
}

::placeholder {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.675);
}

.container {
  width: 100%;
  height: 500px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Weather .top {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  /* height: 150px; */
  align-items: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.Weather .right {
  text-align: right;
}

.Weather .right p {
  margin-bottom: 0;
  line-height: 1.2;
}

/* .Weather .bottom {
  background-color: rgba(111, 111, 111, 0.142);
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  width: 100%;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
} */
